body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/* Her tilføjes nye fonts */
@font-face {
    font-family:marbre_sans;
    src: url(marbre_sans.otf)
}
/*Styling af billede i headeren */
.portrait {
    text-align: center;
    margin-top: 0;
}
.portrait1{
    width: auto;
    height: 230px;
}


h1 {
text-align: center;
font-family: marbre_sans;
font-size: 4em;
    
    
}
/* Styling af PDF */
.pdf {
    min-width: 800px;
}

.list-group {
    width: 6em;
}
/*Styling af video fra prototyping */

.prototypevideo {
    max-width: 50%;
    min-width: 20em;
    max-height: 10em;
}


