body {
 
}

footer {
    text-align: center;
    color:dimgrey;
    font-family: sans-serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/* Her tilføjes nye fonts */
@font-face {
    font-family:marbre_sans;
    src: url(marbre_sans.otf)
    
}
@font-face {
    font-family:cinzeldecorative-regular;
    src: url(cinzeldecorative-regular.ttf)
}



@font-face {
    font-family:arsenal-regular;
    src: url(arsenal-regular.otf)
}

@font-face {
    font-family:Imprisha;
    src: url(imprisha.ttf)
}

/*Styling af billede i headeren */
.portrait {
    text-align: center;
    margin-top: 0;
}
.portrait1{
    width: auto;
    height: 230px;
}


h1 {
text-align: center;
font-family: goldoni;
font-size: 3em;
font-size: 4vmax;
    
}

h2 {
font-family: cinzeldecorative-regular;
    text-align: center;
    font-size: 3em;
}
/* Styling af PDF */
.pdf {
    min-width: 40%;
}

.list-group {
    width: 6em;
}
/*Styling af video fra prototyping */

.prototypevideo {
   min-width: 30%;
    padding: 10px;
    float: right;
}

/* styling af tekst */
p {
    font-family: serif;
    font-size: 1.2em;
    line-height: 20px;
}

li {
    font-family: serif;
    font-size: 1.2em;
    line-height: 20px;
}


.floattextleft {
    padding-top: 2vw;
    float: left;
    margin-left: 4vw;
    padding-left: 2%;
    max-width: 45%;
    min-width: 300px;
}
.floattextright {
    padding-top: 4vw;
    float: right;
    margin-right: 4vw;
    padding-right: 2%;
    max-width: 45%;
    min-width: 300px;
}


.picture {
    float: right;
}